@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
    position: relative;
    letter-spacing: 1px;
}
br::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
h7::selection,
span::selection,
a::selection,
li::selection,
button::selection,
img::selection,
div::selection{
    background: lightblue;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f5f5f5;
}

.preload .loading{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.preload .loading .b{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 10px;
}
.preload .loading .b.b1{
    animation: 2s cir1 infinite;
    animation-delay: -2s;
    background-color: #fff;
}
.preload .loading .b.b2{
    animation: 2s cir2 infinite;
    animation-delay: -2s;
    background-color: #e8f2f6;
}
.preload .loading .b.b3{
    animation: 2s cir3 infinite;
    animation-delay: -2s;
    background-color: #3d5ac1;
}
.preload .loading .b.b4{
    animation: 2s cir4 infinite;
    animation-delay: -2s;
    background-color: #bf795b;
}
@keyframes cir1{
    0%{
        margin-bottom: 80px;
    }
    25%{
        margin-bottom: 0;
    }
    50%{
        margin-bottom: 0;
    }
    100%{
        margin-bottom: 0;
    }
}
@keyframes cir2{
    0%{
        margin-bottom: 0;
    }
    25%{
        margin-bottom: 80px;
    }
    50%{
        margin-bottom: 0;
    }
    100%{
        margin-bottom: 0;
    }
}
@keyframes cir3{
    0%{
        margin-bottom: 0;
    }
    25%{
        margin-bottom: 0;
    }
    50%{
        margin-bottom: 80px;
    }
    100%{
        margin-bottom: 0;
    }
}
@keyframes cir4{
    0%{
        margin-bottom: 0;
    }
    25%{
        margin-bottom: 0;
    }
    50%{
        margin-bottom: 0;
    }
    100%{
        margin-bottom: 80px;
    }
}
.container{
    width: 100%;
    height: auto;
}
.container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    height: 70px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.container header .logo{
    margin-left: 150px;
}
.container header .list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.container header .input{
    display: flex;
    margin: 0 auto;
}
.container header .input input{
    margin-top: 5px;
    outline: none;
    border-radius: 15px;
    padding: 2px 12px 2px 30px;
    border:1px #333 solid;
    width: 450px;
}
.container header .input i{
    position: absolute;
    top: 10px;
    left: 11px;
}
.container header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    margin-right: 150px;
}
.container header ul li{
    margin: 18px;
    font-size: 16px;
}
.container header ul li a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.container header ul li a:hover{
    border-bottom: 3.5px solid;
    color:#3d5ac1;
}
.container header ul li .no{
    border-bottom: 3.5px solid;
    color:#3d5ac1;
}
.container header ul li img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.footer{
    width: 100%;
    height: auto;
    background-color: #343d5a;
    padding: 20px;
}
.footer .logo{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer .aboutus{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: #fff;
    border-top: 1px rgba(255, 255, 255, 0.459) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.459) solid;
    padding: 25px;
}
.footer .aboutus p{
    margin: 10px;
}
.footer .aboutus .ti{
    font-size: 25px;
}
.footer .cop{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 25px;
    font-weight: 300;
}
#myBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 25px;
    background-color: #bf795b;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.31);
}
#myBtn a{
    color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#myBtn a i{
    line-height: 60px;
}
#myedit{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 25px;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.31);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myedit i{
    color: #3d5ac1;
    line-height: 60px;
}
.container .page{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.container .page .pro1{
    border-radius: 1rem;
    width: 15%;
    height: fit-content;
    margin-right: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.31);
}
.container .page .pro1 .pic{
    background-color: #e8f2f6;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .page .pro1 .pic img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}
.container .page .pro1 .pic .font{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.container .page .pro1 .pic .font .goal{
    font-size: 12px;
    color: #fff;
    padding: 2px 10px;
    border-radius: 15px;
    margin-left: 5px;
}
.container .page .pro1 .pic .font .goal.gold{
    background: linear-gradient(#fdc607, #dda001);
}
.container .page .pro{
    width: 100%;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
    background-color: #fff;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.container .page .pro .myre{
    margin-top: 0px;
    margin-bottom: 15px;
}
.container .page .pro .myre .ti{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .page .pro .myre p{
    margin-top: 10px;
}
.container .page .pro .myre .li a{
    text-decoration: none;
    color: #000;
}
.container .page .pro .myre .li,
.container .page .pro .myree .li{
    width: 90%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.container .page .pro .myre .li.add{
    color: #3d5ac1;
    cursor: pointer;
}
.container .page .pro .myre h3{
    color: #858585;
}
.container .page .m{
    width: 60%;
    height: fit-content;
}
.container .page .m h3{
    margin-bottom: 10px;
}
.container .page .pro .myree{
    margin-top: 10px;
    margin-bottom: 0px;
}
.container .page .m .userinfo{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.31);
    padding: 30px;
    margin-bottom: 10px;
}
.container .page .m .userinfo .for{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.container .page .m .userinfo .forpsd{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container .page .m .userinfo .forpsd input{
    margin-bottom: 10px;
}
.container .page .m .userinfo .for input{
    width: 100%;
    margin-bottom: 10px;
}
.container .page .m .userinfo .for .forr{
    width: 49%;
}
.container .page .m .userinfo .forr .forpro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container .page .m .userinfo .forr .forpro .profes{
    width: 28%;
}
.container .page .m .userinfo .forr .forpro .org{
    width: 70%;
}
.container .page .m .userinfo .for .forr input{
    width: 100%;
    margin-bottom: 10px;
}
.container .page .m .userinfo input{
    border-radius: 10px;
    padding: 5px 12px;
    border: 1px #858585 solid;
    outline: none;
}
.container .page .m .userinfo .sub{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container .page .m .userinfo .sub p{
    background-color: #3d5ac1;
    padding: 5px 12px;
    border-radius: 1rem;
    color: #fff;
}
.container .page .m .userinfo .forr .forproo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.container .page .m .userinfo .forr .forproo input{
    width: 80%;
}
.container .page .m .userinfo .forr .forproo .fo,
.container .page .m .userinfo .forr .forphone .fo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .page .m .userinfo .forr .forproo .fo p,
.container .page .m .userinfo .forr .forphone .fo p{
    background-color: #3d5ac1;
    color: #fff;
    padding: 5px 12px;
    border-radius: 1rem;
    cursor: pointer;
}
.container .page .m .userinfo .forr .forphonee{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.container .page .m .userinfo .forr .forphonee select{
    width: 20%;
    padding: 5px 12px;
    border: 1px #858585 solid;
    outline: none;
    border-radius: 15px;
}
.container .page .m .userinfo .forr .forphone{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
.container .page .m .userinfo .gogo,
.container .page .m .userinfo .gogo2,
.container .page .m .userinfo .gogolink,
.container .page .m .userinfo .gogo2link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #D9D9D9 solid;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.31);
    padding: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
.container .page .m .userinfo .gogo:hover,
.container .page .m .userinfo .gogo2:hover{
    background-color: #e8f2f6;
}
.container .page .m .userinfo .gogolink,
.container .page .m .userinfo .gogo2link{
    background-color: #3d5ac1;
    color: #fff;
}
.container .page .m .userinfo .gogolink:hover,
.container .page .m .userinfo .gogo2link:hover{
    background-color: #d40f0f;
    color: #fff;
}
.modal,
.modal2{
    position: absolute;
    top: -100%;
    transition: 0.5s;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: #c6c6c655;
}
.modal.active,
.modal2.active{
    position: fixed;
    top: 0;
}
.modal .modalin,
.modal2 .modal2in{
    width: 20%;
    height: fit-content;
    background-color: #fff;
    border-radius: 1rem;
}
.modal .modalin .wo,
.modal2 .modal2in .wo{
    padding: 20px;
}
.modal .modalin .ch,
.modal2 .modal2in .ch{
    width: 100%;
    display: flex;
}
.modal .modalin .ch .no,
.modal2 .modal2in .ch .no{
    width: 50%;
    background-color: #c6c6c6;
    border-bottom-left-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 0;
}
.modal .modalin .ch .ok,
.modal2 .modal2in .ch .ok{
    width: 50%;
    background-color: #d40f0f;
    border-bottom-right-radius: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 0;
}